<%= form_for @advert, :html => { :multipart => true } do |f| %>
  <% if @advert.errors.any? %>
    <div id="error_explanation">
      <h2>Something went wrong :\</h2>

      <ul>
      <% @advert.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <p>
      <%= f.label :text, "Name of your organisation / event:" %><br />
      <%= f.text_field :text %>
    </p>
  </div>
  <div class="field">
    <p>
      <%= f.label :url, "Your webpage url:" %><br />
      <%= f.text_field :url %>
    </p>
  </div>
  <div class="field">
    <p>
      <%= f.label :image, "Your image / logo (size must be a multiple of 10):" %><br />
       <%= f.file_field :image %>
    </p>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
